<!DOCTYPE html>
<hmtl>
    <head>
        <script type="text/javascript" src = "{{url_for('static', filename='scripts/GetCookie.js')}}"></script>
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/BookedLessons_style.css')}}"></link>
    </head>
    <body onload="getCookieHome(Number('{{Id}}'))">
        <div class="wrapping">
            <div id="header" class="center">
                <div class="row">
                    <div class="logo">
                        <img src="{{url_for('static',filename='images/Logo1.png')}}">
                    </div>
                    <div id="logout">
                        <a  href="/Register" onclick="RemCookie()">Log Out</a>
                        <a href="/Home/{{Id}}">Home</a>
                    </div>
                </div>
            </div>
            <div class="table-container">
                <table class="booking-table">
                    <th class="table-data">Day</th>
                    <th class="table-data">Month</th>
                    <th class="table-data">Time</th>
                    {%for i in lessons:%}
                    <tr>
                        <td class="table-data">{{i[0]}}</td>
                        <td class="table-data">{{i[1]}}</td>
                        <td class="table-data">{{i[2]}}</td>
                    </tr>
                    {%endfor%}
                </table>
            </div>
        </div>
    </body>
</hmtl>