<!DOCTYPE html>
<html>
    <head>
        <title>confirm</title>
    </head>
    <body>
        <div id="header" class="center">
            <div class="row">
                <div class="logo">
                    <img src="static/images/Logo.png">
                </div>
                <div id="logout">
                    <a  href="/Register" onclick="RemCookie()">Log Out</a><br>
                    <a href="/Home">Home</a>
                </div>
            </div>
        </div>
        <div>you have purchased the Hours</div>
    </body>
</html>