<!DOCTYPE html>
{% if type == 1: %}
<html>
<head>
     <title> login </title>
     <script type="text/javascript" src = "static/scripts/GetCookie.js"></script>
     <script type="text/javascript" src = "static/scripts/MakeCookie.js"></script>
     <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/Login_style.css') }}">
</head>
<body onload="getCookieLog()">
    <form method="POST" action="/Login">
        <h2>Login</h2><br>
        <h3>Email: </h3>
        <input type="email" name="Em" placeholder="Email" width="17"><br>
        <h3>Password: </h3>
        <input type="password" name="Pass" placeholder="Password" width="17"><br>
        <button type="submit">Login</button><br>
        <a href="/Register">Register</a>
    </form>
</body>
</html> 

{% elif type == 3 %}
<html>
    <head>
        <meta id="identification" data-value="{{ID}}">
        <title></title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" src = "{{url_for('static',filename='scripts/MakeCookie.js')}}"></script>        
    </head>    
<body onload="makeCookieId()">

</body>
</html>

{% else: %}
<html>
<head>
    <title> login </title>
    <script type="text/javascript" src = "static/scripts/GetCookie.js"></script>
    <script type="text/javascript" src = "static/scripts/MakeCookie.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/Login_style.css') }}">
    <style rel="text/stylesheet">    
    #WRONG{
            color: red !important;
        }
    </style>
</head>
<body onload="getCookieLog()">
    <form method="POST" action="/Login">
        <h2>Login</h2><br>
        <h3>Email: </h3>
        <input type="email" name="Em" placeholder="Email" width="17"><br>
        <h3>Password: </h3>
        <input type="password" name="Pass" placeholder="Password" width="17"><br>
        <p id = WRONG>Email or password is incorrect</p>
        <button type="submit">Login</button><br>
        <a href="/Register">Register</a>
    </form>
</body>

</html>

{% endif %}